.mediaicons { padding:3% 0 2% 0; margin:30px 0px 10px 0px; border-top:1px dashed #DDDDDD; border-bottom:1px dashed #DDDDDD; }
.mediaicons h1 { font-size:2.3em; margin:5px 0 0 0; font-weight: bold; font-size: 2em; color:#EE4900; }
.mediaicons .mediaicons-icon { float:right; width:42px; height:42px; margin:0px 0px 10px 10px; }
.mediaicons .mediaicons-icon:last-child { margin-left:0; }
